// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

button.homepage-action {
    color: #ffffff;
    background-color: #FB668C;
    border-radius: 5%;
}